*{
    box-sizing: border-box;
}
body{
    font-family: tahoma, arial;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}

.game-info{
    display: flex;
}
.game-info .game-name{
    flex:1;
}
.game-info .category{
    flex:1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}

.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}

.hangman-draw .the-stand{
    display: none;
}

.hangman-draw .the-stand:before{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang:before{
    content: '';
    position: absolute;
    width: 100px;
    background-color: #222;
    height: 4px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-hang:after{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 30px;
    left: 130px;
    top: 15px;
}

.hangman-draw .the-rope{
    display: none;
}
.hangman-draw .the-rope{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px dashed #222;
    left: 100px;
    top:45px ;
    
}

.hangman-draw .the-man .head{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    left: 110px;
    top:54px ;
    display: none;
}
.hangman-draw .the-man .body{
    position: absolute;
    width: 4px;
    height: 130px;
    background-color: #222;    
    left: 133px;
    top:102px ;
    display: none;
}


.hangman-draw .the-man .hands{display: none;}


.hangman-draw .the-man .hands:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 150px;
    left: 90px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 150px;
    left: 130px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-man .legs:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 240px;
    left: 90px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 240px;
    left: 130px;
    transform: rotate(30deg);
}

.letters.finished{
    pointer-events: none;
}
.letters{
    flex: 1;
    padding:15px;
    text-align: center;
}

.letters .letter-box{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #009688;
    color: white;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.letters .letter-box.clicked{
    background-color: #222;
    opacity: .2;
    pointer-events: none;
}

.letter-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}

.letter-guess span{
    width: 60px;
    height: 60px;
    background-color: #fffffffe;
    margin-right: 10px;
    border-bottom: 4px solid #222;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}
.letter-guess  .has-space{
    border-bottom: none;
    background: none;
    position: relative;
}
.letter-guess  .has-space:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #222;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    
}


.hangman-draw.Wrong-1 .the-draw{display: block;}
.hangman-draw.Wrong-2 .the-stand{ display: block;}
.hangman-draw.Wrong-3 .the-hang{display: block;}
.hangman-draw.Wrong-4 .the-rope{display: block;}
.hangman-draw.Wrong-5 .head{display: block;}
.hangman-draw.Wrong-6 .body{display: block;}
.hangman-draw.Wrong-7 .hands{display: block;}
.hangman-draw.Wrong-8 .legs{display: block;}


/* the popup*/ 
 .popup{
    text-align: center;
    background-color: #222;
    color: white;
    width: 80%;
    left: 130px;
    position: fixed;
    top: 204px;
    height: 82px;
    /* align-items: center; */
    padding: 94px 10px;
    font-size: 25px;
}
 